<main id="the-feed-main">
			<div id="new-publication">
				<h2>Ajouter une nouvelle publication</h2>
				{{ form_start(form, {'attr': {'id': 'feedy-new'}}) }}
				<fieldset>
					<legend>Nouveau feedy</legend>
					<div>
						{{ form_widget(form.title, {'attr': {'placeholder': 'Titre'}}) }}
					</div>
					<div>
						{{ form_widget(form.text, {'attr': {'placeholder': 'Qu\'avez-vous en tête?'}}) }}
                    </div>
                    <div>
                        {{ form_widget(form.submit, {'attr': {'id': 'feedy-new-submit', 'value': 'Feeder!'}}) }}
                    </div>
                </fieldset>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

			<div id="feed">
				{% for publication in publications %}
					<div class="feedy">
						<div class="feedy-header">
							<a href="">
								<img class="avatar" src="{{ asset('uploads/avatars/9rvg67y2.bmp') }}" alt="avatar de l'utilisateur">
							</a>
							<div class="feedy-info">
								<span>{{ publication.author }}</span>
								<span>
									-
								</span>
								<span>{{ publication.createdAt|date('d/m/Y') }}</span>
								<p>{{ publication.text }}</p>
							</div>
						</div>

						<div class="feedy-counter">
							<span>{{ loop.index }}</span>
						</div>
					</div>
				{% else %}
					<p>Aucune publication à afficher.</p>
				{% endfor %}
			</div>
		</main>