{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block page_content %}
    <main>
        {{ form_start(form, {"attr": {"class": "center basic-form"}}) }}
        <fieldset>
            <legend>Inscription</legend>

            <div class="access-container">
                {{ form_label(form.login, "Login") }}
                <p class="help-input-form">Entre 4 et 20 caractères</p>
                {{ form_widget(form.login) }}
                {% for error in form.login.vars.errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="access-container">
                {{ form_label(form.plainPassword, "Mot de passe") }}
                <p class="help-input-form">Entre 8 et 32 caractères, au moins une minuscule, une majuscule et un chiffre</p>
                {{ form_widget(form.plainPassword) }}
                {% for error in form.plainPassword.vars.errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="access-container">
                {{ form_label(form.email, "Email") }}
                {{ form_widget(form.email) }}
                {% for error in form.email.vars.errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </div>

            <div class="access-container">
                {{ form_label(form.profilePictureFile, "Photo de profil") }}
                {{ form_widget(form.profilePictureFile, {"attr" : {"accept" : "image/png, image/jpeg"}}) }}
                {% for error in form.profilePictureFile.vars.errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </div>

            {{ form_widget(form.submit, {"id": "feedy-new-submit", "attr": {"placeholder": "S'inscrire", "class": "basic-form-submit"}}) }}
        </fieldset>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}
